.list {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
  background-color: wheat;
}

.active {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}
#aa {
  display: none;
}
.fade-enter {
	opacity: 0.01;
}
.fade-enter.fade-enter-active {
  opacity: 1;
	transition: all 500ms ease-in-out;
}


